*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #e880dd,#74c3d9);
}
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 800px;
    background:white;
    box-shadow: 0px 10px 10px black;
    gap: 100px;
    border-radius: 30px;
    padding: 10px;
}
.buttons{
    margin-top: 20px;
    display: flex;
    gap:40px;
}
.buttons button{
    background-color: #043846;
    color: #fff;
    width: 170px;
    height: 55px;
    border-radius: 50px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover{
    background-color: #fff;
    color: #043846;
    transform: scaleX(1.1);
}
table{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    width: 800px;
    
    color: black;
    backdrop-filter: blur(10px);
    font-size: 30px;
}
/* .x{
    display: none;
} */
th{
    background-color: #043846;
    color: #fff;
    padding: 10px 10px;
}

td>button{
    font-size: 25px;
    cursor: pointer;
}
td{
    padding: 10px;
}
tr:nth-child(1){
    cursor: pointer;
    transition: all 0.6s ease;
}
tr:hover:nth-child(1){
    cursor: pointer;
    transform: scaleX(1.01);
}
img:hover{
    transform: scale(1.02);
}